[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torpedo = {editable = true, ref = "2.2.2", git = "ssh://git@bitbucket.org/tata1mg/torpedo.git"}
tortoise_wrapper = {editable = true, ref = "0.5.1", git = "ssh://git@bitbucket.org/tata1mg/tortoise_wrapper.git"}
cache_wrapper = {editable = true, ref = "2.1.0", git = "ssh://git@bitbucket.org/tata1mg/cache_wrapper.git"}

[dev-packages]

[requires]
python_version = "3.7"
